<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = 'repo' class="ru.otus.spring.repository.ProductRepository">
    </bean>
    <bean id = "grocery" class="ru.otus.spring.service.ServiceGrocery">
        <constructor-arg ref="repo"/>
    </bean>
</beans>